@page
@model Final.Pages.Values.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Value</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Value.ID" />
            <div class="form-group">
                <label asp-for="Value.StudentId" class="control-label"></label>
                <input asp-for="Value.StudentId" class="form-control" />
                <span asp-validation-for="Value.StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value.ThemeId" class="control-label"></label>
                <input asp-for="Value.ThemeId" class="form-control" />
                <span asp-validation-for="Value.ThemeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value.Mark" class="control-label"></label>
                <input asp-for="Value.Mark" class="form-control" />
                <span asp-validation-for="Value.Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" & asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
